.container {
    height: 100vh;
    background: url(../imagem/fita-de-fundo.jpg) center center / contain;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.informacoes {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ffffff;
    gap: 15px;
}

.informacoes h1 {
    font-weight: 900;
    font-size: 20px;
}

.informacoes p {
    font-weight: 400;
    font-size: 15px;
}

.formulario {
    display: flex;
    justify-content: center; 
    align-items: center;
}

#formulario {
    background-color: #ffffff;
    width: 340px;
    height: 378px;
    display: flex;
    flex-direction: column;
}

.campo {
    display: flex;
    flex-direction: column;
    margin: 10px 20px;
    position: relative;
}

#formulario input,
#formulario textarea,
#formulario button {
    border-radius: 5px;
    border: 1px solid #000000;
    padding: 8px 10px;
    margin: 3.5px 5px;
    outline: none;
}

#formulario textarea {
    resize: none;
    height: 100px; 
}

#formulario ::placeholder {
    font-weight: 700;
    font-size: 15px;
}

#formulario span {
    font-size: 15px;
    padding: 0px 15px;
}

#formulario button {
    font-weight: 700;
    background-color: #3ccc87;
    color: #ffffff;
    font-size: 15px;
    border: none;
    cursor: pointer;
    margin: 10px 25px;
}

@media (max-width: 756px) {
    .container {
        flex-direction: column;
    } 
}

/* mudando o input na validação. . . */
.mensagem-erro {
  position: absolute;
  left: 5px;  
  bottom: -11px;
  color: #f52e25;
  font-size: 8px;
  line-height: 2.5;
  pointer-events: none;
  display: none;
}

.mensagem-erro.ativo {
  display: block;
}

.input-erro {
    border: 1px solid #f52e25;
}

.input-correto {
    border: 1px solid #00c220;
} 